body{
    background-color: brown;
}
.box1{
    background-color: darkgreen;
    height: 200px;
    width: 33.33%;
    float: left;
}
.box2{
    background-color: chocolate;
    height: 200px;
    width: 33.33%;
    float: left;
}
.box3{
    background-color: aqua;
    height: 200px;
    width: 33.33%;
    float: left;
}
.boxA::after{
    content: "";
    display: block;
    clear: both;
}
.box4{
    background-color: deeppink;
    height: 200px;
    
}